@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
body {
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.info {
  font-size: 70px;
  padding: 30px;
}
.info b {
  font-weight: 700;
}
.info small {
  font-size: 30px;
}

.info input {
  display: block;
  font-family: Roboto;
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  position: relative; 
  top: 20px;
}

.info input:hover {
  background-color: lightslategrey;
}

.iphone div {
  display: block;
  position: absolute;
}

.iphone {
  zoom: 1.3;
  width: 404px;
  height: 800px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.iphone .outer {
  width: 98%;
  height: 100%;
  top: 0;
  left: 1%;
  border-radius: 64px;
  background: #ccc;
  box-shadow: 10px 30px 200px rgba(0, 0, 0, 0.95);
}
.iphone .inner {
  width: 94%;
  height: 98%;
  border-radius: 57px;
  left: 3%;
  top: 1%;
  background: #e6e6e6;
}
.iphone .band {
  width: 3%;
  height: 10px;
  background: #e6e6e6;
}
.iphone .tl {
  left: 1%;
  top: 100px;
}
.iphone .tr {
  right: 1%;
  top: 100px;
}
.iphone .bl {
  left: 1%;
  bottom: 100px;
}
.iphone .br {
  right: 1%;
  bottom: 100px;
}
.iphone .screen {
  background: #fff;
  background: url("https://sbuhacks.org/static/media/Register_Bg.53f23b3e.png") no-repeat center center;
  background-size: cover;
  width: 86%;
  height: 94%;
  left: 7%;
  top: 3%;
  border-radius: 37px;
  overflow: hidden;
}

.iphone .screen iframe {
  width: 100%;
  height: 100%;
  zoom: 0.9;
}

.iphone .screen .time, .iphone .screen .date {
  width: 100%;
  text-align: center;
  color: #fff;
}
.iphone .screen .time {
  padding-top: 100px;
  font-size: 64px;
}
.iphone .screen .date {
  padding-top: 170px;
  font-size: 18px;
}
.iphone .speaker-section {
  width: 48.5%;
  height: 3.25%;
  top: 3%;
  left: 25.75%;
  background: #e6e6e6;
  border-bottom-right-radius: 19.5px;
  border-bottom-left-radius: 19.5px;
}
.iphone .speaker-section .scanner {
  height: 8px;
  width: 8px;
  background: #b3b3b3;
  border-radius: 4px;
  left: 27.5%;
  top: 25%;
  transform: translate(0, -50%);
}
.iphone .speaker-section .camera {
  height: 10px;
  width: 10px;
  background: #b3b3b3;
  border-radius: 5px;
  right: 26.5%;
  top: 25%;
  transform: translate(0, -50%);
}
.iphone .speaker-section .speaker {
  width: 23%;
  height: 4px;
  background: #b3b3b3;
  border-radius: 4px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
.iphone .power, .iphone .mute, .iphone .vol {
  width: 2%;
  position: absolute;
  background: #ccc;
  border-radius: 2px;
}
.iphone .power {
  height: 4%;
  top: 15.5%;
}
.iphone .vol {
  height: 7.25%;
}
.iphone .vol.up {
  top: 24.5%;
}
.iphone .vol.down {
  top: 33.5%;
}
.iphone .mute {
  height: 11.5%;
  top: 15.5%;
  right: 0;
}
