<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267374072356-l25l2b4ubd7l7husk2oi2r35of8tlar3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267374072356-l25l2b4ubd7l7husk2oi2r35of8tlar3</string>
	<key>API_KEY</key>
	<string>AIzaSyCVaMf3ET-wPoY63_r4-4vgQBtIy1Tp568</string>
	<key>GCM_SENDER_ID</key>
	<string>267374072356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ARragraph.yankunm</string>
	<key>PROJECT_ID</key>
	<string>reanimate-aea92</string>
	<key>STORAGE_BUCKET</key>
	<string>reanimate-aea92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267374072356:ios:0b8c5f1b60a948614c3eb1</string>
</dict>
</plist>